{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'projectfolio/custom.css' %}">
</head>
<body class="bg-info">
<nav  class="navbar navbar-inverse" style="background-color: Secondary;">
                                <div class="container-fluid">
                                  <div class="navbar-header">
                                    <a class="navbar-brand" style="color:blue" href="#">Quest Tracker</a>
                                  </div>
                                  <ul class="nav navbar-nav ">
                                    <li><a href="{% url 'profile' user_id %}"><i class="fas fa-user"style="font-size:28px;color:green"></i> Profile</a></li>
                                    <li><a href="{% url 'notifications' %}"><i class="fa fa-bell" style="font-size:28px;color:lightblue"></i> Notifications</a></li>
                                    <li ><a href="{% url 'teams' %}"><i class="fa fa-group" style="font-size:28px;color:pink"></i> Teams</a></li>
                                    <li ><a href="{% url 'portfolio' %}"><i class="fas fa-toolbox" style="font-size:28px;color:orange"></i> Portfolio</a></li>
                                    <li><a href="{% url  'tickets' %}"><i class="fas fa-ticket-alt" style="font-size:28px;color:yellow"></i> Tickets</a></li>
                                    <li><a href="{% url  'admin' %}"><i class="fas fa-user" style="font-size:28px;color:Aquamarine"></i> Admin</a></li>
                                    <li ><a href="{% url 'logout' %}"><i class="fa fa-power-off" style="font-size:28px;color:red"></i> Logout</a></li>
                                  </ul>
                                </div>
</nav>
<div class="background-image">
  <img src="{% static 'projectfolio/images/home.png' %}" class="image-responsive" style="width:100%; background-position:center">
</div>
</body>
</html>