{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav  class="navbar navbar-inverse" style="background-color:MediumAquamarine;">
                                <div class="container-fluid">
                                  <div class="navbar-header">
                                    <h3 style="color:green">Project Status</h3>
                                  </div>
                                </div>
</nav>
<form method="post" class="form form-responsive">
    {% csrf_token %}
    <div class="container mt-3">
        <table>
            <tr>
                <td>
                    <label>Project Name :</label>
                </td>
                <td>
                    <input type="text" name="projectname">
                </td>
            </tr>
        </table>
    </div><br>
    <div class="container mt-3">
        <table>
            <tr>
                <td>
                    <label>Team Name :</label>
                </td>
                <td>
                    <input type="text" name="teamname">
                </td>
            </tr>
        </table>
    </div><br>
    <div class="container mt-3">
       <label>Analysis :</label><br>
        <input type="checkbox" name="analysis" value="Stakeholder Requirement"> Stakeholder Requirement<br>
        <input type="checkbox" name="analysis" value="Customer Requirement"> Customer Requirement<br>
        <input type="checkbox" name="analysis" value="NotStarted"> NotStarted<br>
        <input type="checkbox" name="analysis" value="Completed"> Completed<br>
    </div><br>
    <div class="container mt-3">
        <label>Design :</label><br>
        <input type="checkbox" name="design" value="Database"> Database<br>
        <input type="checkbox" name="design" value="Software"> Software<br>
        <input type="checkbox" name="design" value="Interface"> Interface<br>
        <input type="checkbox" name="design" value="NotStarted"> NotStarted<br>
        <input type="checkbox" name="design" value="Completed"> Completed<br>
    </div><br>
    <div class="container mt-3">
        <label>Development :</label><br>
        <input type="checkbox" name="development" value="Deploy development"> Deploy development<br>
        <input type="checkbox" name="development" value="Coding"> Coding<br>
        <input type="checkbox" name="development" value="Hardware Config"> Hardware Config<br>
        <input type="checkbox" name="development" value="NotStarted"> NotStarted<br>
        <input type="checkbox" name="development" value="Completed"> Completed<br>
    </div><br>
    <div class="container mt=3">
        <label>Testing :</label><br>
        <input type="checkbox" name="testing" value="Environment"> Environment<br>
        <input type="checkbox" name="testing" value="Issues"> Issues<br>
        <input type="checkbox" name="testing" value="NotStarted"> NotStarted<br>
        <input type="checkbox" name="testing" value="Completed"> Completed<br>
    </div><br>
    <div class="container mt-3">
        <label>Documentation :</label><br>
        <input type="checkbox" name="documentation" value="NotStarted"> NotStarted<br>
        <input type="checkbox" name="documentation" value="Completed"> Completed<br>
        <input type="checkbox" name="documentation" value="InProgress"> InProgress<br>
    </div><br>
    <div class="container mt-3" style="color:red">
        <input type="submit" value="ADD">
    </div>
</form>
</body>
</html>