<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1 align="center" style="color:skyblue">Project Report</h1>
<center>
  <div class="container mt-3">
  <table class="table table-bordered">
    <tr>
      <th>TeamName</th>
      <th>ProjectName</th>
      <th>Progress Tasks</th>
      <th>Description</th>
      <th>Tasks</th>
      <th>Action</th>
    </tr>
    {% for i in value %}
    <tr>
      <td>{{i.Teamname}}</td>
      <td>{{i.Projectname}}</td>
      <td>{{i.Progresstasks}}</td>
      <td>{{i.Description}}</td>
      <td>{{i.Tasks}}</td>
      <td>
        <a href="/taskreport_delete/{{i.id}}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
    </div>
  <br>
  <br>
  {% if a %}
  <form method="post">
    <div class="container mt-3">
    <table class="table table-bordered">
      <tr>
        <td>
          <label>TeamName</label>
        </td>
        <td>
          {{a.Teamname}}
        </td>
      </tr>
      <tr>
        <td>
          <label>ProjectName</label>
        </td>
        <td>
          {{a.Projectname}}
        </td>
      </tr>
      <tr>
        <td>
          <label>ProgressTasks</label>
        </td>
        <td>
          {{a.Progresstasks}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Description</label>
        </td>
        <td>
          {{a.Description}}
        </td>
      </tr>
      <tr>
        <td>
          <label>Tasks</label>
        </td>
        <td>
          {{a.Tasks}}
        </td>
      </tr>
    </table>
    </div>
  </form>
  {% endif %}
</center>
</body>
</html>